<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_StoreIndex>
            <version>0.1.0</version>
        </Aoe_StoreIndex>
    </modules>

    <global>

        <helpers>
            <aoe_storeindex>
                <class>Aoe_StoreIndex_Helper</class>
            </aoe_storeindex>
        </helpers>

        <models>
            <catalog>
                <rewrite>
                    <url>Aoe_StoreIndex_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <category_flat>Aoe_StoreIndex_Model_Catalog_Resource_Category_Flat</category_flat>
                    <product_flat_indexer>Aoe_StoreIndex_Model_Catalog_Resource_Product_Flat_Indexer</product_flat_indexer>
                </rewrite>
            </catalog_resource>
        </models>
    </global>

    <default>
        <aoe_storeindex>
            <options>
                <product_attributes>1</product_attributes>
                <catalog_url_rewrites>1</catalog_url_rewrites>
                <category_flat>1</category_flat>
                <product_flat>1</product_flat>
                <category_product>1</category_product>
                <fulltext>1</fulltext>
                <product_price_and_stock>1</product_price_and_stock>
                <tag_summary>1</tag_summary>
            </options>
        </aoe_storeindex>
    </default>

</config>
