<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_IndexPerStore>
            <version>0.1.0</version>
        </Aoe_IndexPerStore>
    </modules>

    <global>

        <helpers>
            <aoe_indexperstore>
                <class>Aoe_IndexPerStore_Helper</class>
            </aoe_indexperstore>
        </helpers>

        <models>
            <catalog>
                <rewrite>
                    <url>Aoe_IndexPerStore_Model_Catalog_Url</url>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <category_flat>Aoe_IndexPerStore_Model_Resource_Catalog_Category_Flat</category_flat>
                    <product_flat_indexer>Aoe_IndexPerStore_Model_Resource_Catalog_Product_Flat_Indexer</product_flat_indexer>
                    <category_indexer_product>Aoe_IndexPerStore_Model_Resource_Catalog_Category_Indexer_Product</category_indexer_product>
                </rewrite>
            </catalog_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Aoe_IndexPerStore_Model_Resource_CatalogSearch_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
    </global>

    <default>
        <aoe_indexperstore>
            <options>
                <catalog_url_rewrites>1</catalog_url_rewrites>
                <category_flat>1</category_flat>
                <product_flat>1</product_flat>
                <category_product>1</category_product>
                <fulltext>1</fulltext>
            </options>
        </aoe_indexperstore>
    </default>

</config>
